// -------- Variables -------------

$body-bg-color: linear-gradient(#0f054c 50%, #0d0d2b);
$btn-bg-color: #3671e9;
$span-txt-color: #979797;


$why-us-icon-color: #4097f8;
$why-us-icon-bg-color: #3c308a;



$features-section-bg-color: linear-gradient(180deg, #280766, #0d0d2b);


$cta-section-card-bg-color: #1672fd;


$footer-bg-color: #0d0d2b;
$footer-icon-color: #eeeeee;